{
  "presets": ["env"],
  "env": {
    "test": {
      "plugins": [[
        "istanbul", {
          "exclude": [
            "test",
            "src/ui-factories",
            "src/plugins"
          ],
        }
      ]]
    }
  }
}
